<h3>New parking violation</h3>
<p>Fill out the form below to submit a new parking violation</p>
<% if @car_created %>
  <p>The car was created.</p>
<% end %>
<%= form_tag(parking_violations_path, :method => :post, :multipart => true, :id => "new_parking_violation") do %>
  <label for="car_plate_number">Plate number</label>
  <input type="text" name="car[plate_number]" id="car_plate_number" />

  <label for="car_make">Make</label>
  <input type="text" name="car[make]" id="car_make" />

  <label for="car_model">Model</label>
  <input type="text" name="car[model]" id="car_model" />

  <label for="car_color">Color</label>
  <input type="text" name="car[color]" id="car_color" />

  <label for="car_plate_state">Plate state</label>
  <select name="car[plate_state]" id="car_plate_state">
    <%= options_for_select all_states %>
  </select>
  
  <label for="photo">Upload Photo</label>
  <%= file_field_tag "violation[photo]" %>

  <label for="violation_description">Description</label>
  <textarea name="violation[description]" id="violation_description" rows="15" style="width: 500px"></textarea>

  <input type="submit" value="Create violation" />
<% end %>
